html<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Westendsfinest-Social</title>
  <link rel="stylesheet" type="text/css" href="/css/artists-styles.css">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>

  <div class="static-gif"></div>
  <div class="Browser-frame">
    <h1 class="Browser-frame-url"> <%=browserFrameUrl%> </h1>

    <div class="Background-div"></div>
    <h1 class="Artists">Artists</h1>
    <div class="Divider-artists"></div>
    <div class="Artists-div">
      <ul class="Artists-list">
        <li>SINAN</li>
        <li>MAXX B</li>
        <li>NOODLE</li>
        <li>GUERILLA</li>
        <li>LURO</li>
      </ul>
    </div>


  </div>

  <div class="TV-border"></div>



</body>

</html>
