<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Westendsfinest-Contact</title>
  <link rel="stylesheet" type="text/css" href="/css/contact-styles.css">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>

  <div class="static-gif"></div>
  <div class="Browser-frame">
    <h1 class="Browser-frame-url"> <%=browserFrameUrl%> </h1>

    <div class="Form-background">

      <form>
        <p>
          <div class="Email-label"> <h1 class="Email-text">EMAIL</h1> </div>
          <input class="Email-input" type="email" name="email">
        </p>
        <p>
          <div class="Subject-label"> <h1 class="Subject-text">SUBJECT</h1> </div>
          <input class="Subject-input" type="text" name="subject">
        </p>
        <p>
          <div class="Message-label"> <h1 class="Message-text">MESSAGE</h1> </div>
          <textarea class="Message-input" name="message" rows="5"></textarea>
        </p>
        <p>
          <button class="Submit-button">SEND TO WESTENDSFINEST</button>
        </p>
      </form>

    </div>


  </div>

  <div class="TV-border"></div>



</body>

</html>
