<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Westendsfinest</title>
  <link  rel="stylesheet" type="text/css" href="/css/home-styles.css">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>


  <div class="static-gif"></div>

  <div class="Browser-frame">
    <h1 class="Browser-frame-url"> <%=browserFrameUrl%> </h1>
    <div class="Embeded-video">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xpb8-gfMYaA?rel=0" frameborder="0" allow="autoplay; accelerometer; encrypted-media; gyroscope" allowfullscreen></iframe>
      <!-- <video controls controlslist="nodownload" width="520px" height="360px" disablePictureInPicture poster="/images/Echo-thumbnail.jpeg">
        <source src="/videos/Echo.mp4" type="video/mp4">
      </video> -->
    </div>

    <div class="Shop-container">
      <img class="Shop-icon" src="/gifs/Shop2.gif" alt="Shop-icon">
      <div class="Shop-text-box"><h1 class="Shop-text">SHOP</h1></div>
    </div>
    <div class="Video-container" onclick="location.href='/video'">
      <img class="Video-icon" src="/gifs/new/Laptop.gif" alt="Video-icon">
      <div class="Video-text-box"><h1 class="Video-text">VIDEO</h1></div>
    </div>
    <div class="Social-container" onclick="location.href='/social'">
      <img class="Social-icon" src="/gifs/new/Social.gif" alt="Social-icon">
      <div class="Social-text-box"><h1 class="Social-text">SOCIAL</h1></div>
    </div>
    <div class="Tour-container">
      <img class="Tour-icon" src="/gifs/Tour.gif" alt="Tour-icon">
      <div class="Tour-text-box"><h1 class="Tour-text">TOUR</h1></div>
    </div>
    <div class="Contact-container" onclick="location.href='/contact'" >
      <img class="Contact-icon" src="/gifs/Contact4.gif" alt="Contact-icon">
      <div class="Contact-text-box"><h1 class="Contact-text">CONTACT</h1></div>
    </div>
  </div>

  <div class="TV-border"></div>


</body>

</html>
