html
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Westendsfinest-Social</title>
  <link rel="stylesheet" type="text/css" href="/css/social-styles.css">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>

  <div class="static-gif"></div>
  <div class="Browser-frame">
    <h1 class="Browser-frame-url"> <%=browserFrameUrl%> </h1>

    <h1 class="Artists" onclick="location.href='/artists'">ARTISTS</h1>
    <div class="Divider-artists"></div>
    <img class="WF-logo" src="/images/wf.png" alt="Logo">
    <h1 class="Connect">CONNECT</h1>
    <div class="Divider-connect"></div>

    <table class="Icon-table">
      <tbody>
        <tr>
          <td class="Icon-Row"><a href="https://www.instagram.com/westendsfinest/?hl=de" target="_blank"><img class="Social-icon" src="/icons/Insta.svg" alt=""></a></td>
          <td class="Icon-Row"><a href="https://open.spotify.com/artist/6l5q4ulaxeuiLrw5cYyWID?si=PTOC02pBRc20pkVAkkgKng" target="_blank"><img class="Social-icon" src="/icons/Spotify.svg" alt=""></a></td>
          <td class="Icon-Row"><a href="https://www.youtube.com/channel/UCbPcny5EQQHDh_jh8hhV87g" target="_blank"><img class="Social-icon" src="/icons/Youtube.svg" alt=""></a></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="TV-border"></div>



</body>

</html>
