html<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Westendsfinest-Social</title>
  <link rel="stylesheet" type="text/css" href="/css/tour-styles.css">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>

  <div class="static-gif"></div>
  <div class="Browser-frame">
    <h1 class="Browser-frame-url"> <%=browserFrameUrl%> </h1>
    <h1 class="Message">Coming soon...</h1>
  </div>

  <div class="TV-border"></div>



</body>

</html>
