@font-face {
    font-family: '8bit_wondernominal';
    src: url('font/8BIT-Wonder/8-bit_wonder-webfont.woff2') format('woff2'),
         url('font/8BIT-Wonder/8-bit_wonder-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
  margin: 0;
  font-family: "8bit_wondernominal", normal;
  font-size: 20px;
}

.TV-border {
  width: 100%;
  height: 100%;
  background-image: url("/images/tv-border.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.static-gif {
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/Yqn9tE2E00k4U/source.gif");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Embeded-video {
  margin: 0;
  position: absolute;
  top: 85px;
  left: 650px;
  width: 520px;
  height: 360px;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px;
}


.Browser-frame {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1046px;
  height: 800px;
  background-image: url("/images/Browser-frame.svg");
  background-repeat: no-repeat;
  background-size: 1046px 800px;
  background-position: center;
  z-index: 99999;
}

.Browser-frame-url {
  color: #828282;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 235px;
}

.Shop-container {
  position: absolute;
  top: 239px;
  left: 100px;
  width: 165px;
  height: 154px;
}

.Shop-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 40.1px;

}

.Shop-text-box {
  margin: 0;
  width: 160px;
  height: 45px;
  outline: 2.5px solid;
  background-color: #F3CA3E;
  position: absolute;
  top: 105px;
}

.Shop-text {
  position: absolute;
  top: 12px;
  left: 39.5px;

}

.Video-container {
  position: relative;
  top: 239px;
  left: 407px;
  width: 165px;
  height: 154px;
}

.Video-icon {
  position: absolute;
  top: -20px;
  left: 36px;
  width: 93px;
  height: 93px;
}

.Video-text-box {
  margin: 0;
  width: 160px;
  height: 45px;
  outline: 2.5px solid;
  background-color: #367DC4;
  position: absolute;
  top: 105px;
}

.Video-text {
  position: absolute;
  top: 12px;
  left: 34px;
}

.Social-container {
  position: absolute;
  top: 530px;
  left: 100px;
  width: 165px;
  height: 154px;
}

.Social-icon {
  width: 70px;
  height: 70px;
}

.Social-text-box {
  margin: 0;
  width: 160px;
  height: 45px;
  outline: 2.5px solid;
  background-color: #BB3630;
  position: absolute;
  top: 105px;
}

.Social-text {
  position: absolute;
  top: 12px;
  left: 24.5px;
}

.Tour-container {
  position: absolute;
  top: 530px;
  left: 407px;
  width: 165px;
  height: 154px;
}

.Tour-icon {
  width: 50px;
  height: 60px;
}

.Tour-text-box {
  margin: 0;
  width: 160px;
  height: 45px;
  outline: 2.5px solid;
  background-color: #4B9755;
  position: absolute;
  top: 105px;
}

.Tour-text {
  position: absolute;
  top: 12px;
  left: 39.5px;
}

.Contact-container {
  position: absolute;
  top: 530px;
  left: 714px;
  width: 165px;
  height: 154px;
}

.Contact-icon {
  width: 70px;
  height: 70px;
}

.Contact-text-box {
  margin: 0;
  width: 160px;
  height: 45px;
  outline: 3px solid;
  border: 1px solid white;
  background-color: black;
  position: absolute;
  top: 105px;
}

.Contact-text {
  position: absolute;
  top: 12px;
  left: 10px;
}
